// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');

// @import url('http://fonts.cdnfonts.com/css/berthold-akzidenz-grotesk-be-9');
// @import url('http://fonts.cdnfonts.com/css/sansumi');


// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

@font-face {
  font-family: 'Akzidenz-Grotesk BQ';    
  // No need any embeded Ruby code here
  src: url('AkzidenzGroteskBQ-LigExt.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaClassicNormal';    
  // No need any embeded Ruby code here
  src: url('FuturaClassicNormal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$my-font: "Akzidenz-Grotesk BQ";

// @font-face {
//     font-family: 'FuturaClassicNormal';
//     src: url('FuturaClassicNormal.woff');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Akzidenz-Grotesk BQ';
//     src: url('AkzidenzGroteskBQ-LigExt.woff');
//     font-weight: 300;
//     font-style: normal;
//     font-display: swap;
// }

$font-logo: 'FuturaClassicNormal';
// $my-font: "Akzidenz-Grotesk-LigExt";