// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

.logo {
    width: 120px;
        padding: 6px 0 16px 0;
}

.menu {
	font-family: $my-font;
	text-transform: uppercase;
	font-size: 12px;
	text-align: end;
	opacity: 1;
	transition: opacity 0.3s ease-in;
}

.menu-btn {
	line-height: 1.2;
}

.menu-btn:hover {
	opacity: 0.5 !important;
}